<!-- Formulario -->
<div class="jumbotron">
    <h1 style="color:blue;">Registro de Usuario</h1>
    <br>
    {{!-- <h3>Por favor ingrese los siguientes datos para ingresar</h3>
    <h3>usuario: pepe, password: pepepass</h3> --}}
    <form action="/registro" method="post">
        <div class="form-group">
            <label for="username"><b>Nombre</b></label>
            <input id="username" class="form-control" type="text" name="username" onchange="" required>
        </div>
        <div class="form-group">
            <label for="mail"><b>Mail</b></label>
            <input id="mail" class="form-control" type="mail" name="mail" onchange="" required>
        </div>
        <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input id="password" class="form-control" type="password" name="password" onchange="" required>
        </div>
        <button class="btn btn-success mt-3 mb-">Registrarse</button>

    </form>
    <form action="/" method="GET">
        <button class="btn btn-success mt-3 mb-5">Ir a Login</button>
    </form>

</div>
<!-- Final Formulario -->