<div class="container mt-3">
    <div class="row">
        <h1>Bienvenido {{datos.nombre}}</h1>
        <form action="/logout" method="get">
        <button type="submit" class="btn btn-success mt-3 mb-">Logout</button>
        </form>
    </div>
    
</div>