<!-- Formulario -->
<div class="jumbotron">
    <h1 style="color:blue;">Ingrese datos</h1>
    <br>
    <h3>Por favor ingrese los siguientes datos para ingresar</h3>
    <h3>usuario: pepe, password: pepepass</h3>
    <form action="/login" method="GET">
        <div class="form-group">
            <label for="nombre"><b>nombre</b></label>
            <input id="nombre" class="form-control" type="text" name="nombre" onchange="">
        </div>
        <div class="form-group">
            <label for="nombre"><b>password</b></label>
            <input id="nombre" class="form-control" type="text" name="password" onchange="">
        </div>
        <button class="btn btn-success mt-3 mb-">Login</button>

    </form>
    {{!-- <form action="/registrarse" method="GET">
        <button class="btn btn-success mt-3 mb-5">Registrarse</button>
    </form> --}}

</div>
<!-- Final Formulario -->