<div>
    <h1>
        Gracias por visitarnos {{user}}
    </h1>
    <form action="/" id="form" method="get">
    <button type="submit"class="btn btn-success mt-3 mb-">Ir a Home</button>
    </form>
</div>