<div>
    <h2 style="color:crimson;">Historial</h2>

    {{#if produc}}
        <div class="table-responsive">
            <table class="table table-dark">
                <tr style="color: yellow;"> <th>Nombre</th> <th>Precio</th> <th>Foto url</th></tr>
                {{#each produc}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <img width="30" src="{{this.thumbnail}}" alt="">
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        <form action="/" method="GET">
            <button class="btn btn-success mt-3 mb-2">Volver a formulario</button>
        </form>
    {{else}}
        <h3 class="alert alert-warning">No se encontraron productos</h3>
        <form action="/" method="GET">
            <button class="btn btn-success mt-3 mb-2">Volver a formulario</button>
        </form>
    {{/if}}
</div>
