<h2 class="text-primary">Centro de mensajes</h2>
<form method="post" id="myChat">
  <div class="mb-3">
    <input id="username" type="text" class="form-control w-25" placeholder="Ingrese su e-mail" required/>
  </div>
  <div class="mb-3">
    <input id="text" type="text" class="form-control w-25 d-inline" placeholder="Ingrese un mensaje" required/>
    <span type="submit" id="sendBtn" class="btn btn-primary">Enviar</span>
  </div>
  <hr>
  <div id="messages"></div>
  <div id="alert"></div>
</form>