<div>
    <div>
        <h1>Los datos ingresados ya existen</h1>
    </div>
    <div>
        <form action="/login" method="GET">
        <button class="btn btn-success mt-3 mb-5">Volver a Login</button>
    </form>
    </div>

</div>